body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.h-small {
  font-weight: 100;
}

.h-medium {
  font-weight: 400;
}

.h-big {
  font-weight: 700;
}

.h-ftitle {
  font-family: "Shrikhand", sans-serif;
}

.italic {
  font-style: italic;
}

.h-ftext {
  font-family: "Roboto", sans-serif;
}

.h-ffamily {
  font-family: shrikhand;
}

.margin-r {
  margin-right: 1.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.p-0 {
  padding: 0px;
}

.bg-dark-grey {
  background-color: #E8E8E8;
}

.py-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.mt-n3 {
  margin-top: -50px !important;
}

.border-radius-top {
  border-radius: 50px 50px 0 0;
}

.p-15 {
  padding: 25px;
}

.alignment {
  text-align: center;
}

.button {
  border: 0 none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  margin: 30px 0;
}

.button--Explore {
  font-size: 25px;
  border-radius: 100px;
  border: none;
  padding: 1.5rem 2.3rem;
  -webkit-box-shadow: 0px 0px 8px #888888;
          box-shadow: 0px 0px 8px #888888;
  cursor: pointer;
}

.button--Order {
  font-size: 25px;
  border-radius: 100px;
  border: none;
  padding: 1.5rem 7rem;
  -webkit-box-shadow: 0px 0px 8px #888888;
          box-shadow: 0px 0px 8px #888888;
  cursor: pointer;
  margin: 50px  0;
}

.button:hover {
  -webkit-box-shadow: 0px 3px 1px 3px #afacac;
          box-shadow: 0px 3px 1px 3px #afacac;
}

.button--grad {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #FFFFFF;
}

.button--grad:hover {
  background: -webkit-gradient(linear, right top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(to bottom left, #ff93e1, #a16be0);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: relative;
}

.header__logo {
  height: 2.5rem;
}

.header__back {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 53px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5rem;
}

.location__icon {
  margin-right: 1.5rem;
}

.reservation__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  text-align: center;
  padding: 2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 800px;
}

.choice-item-group__choice-item {
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 2rem 0rem 2rem 1rem;
  height: 5rem;
  background-color: #F8F8F8;
}

.choice-item-group__choice-item--highlight-color {
  background-color: rgba(147, 86, 220, 0.1);
}

.choice-item-group__choice-item--highlight-color .choice-item-group__choice-item-icon {
  color: #9356dc;
}

.choice-item-group__choice-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

.choice-item-group__choice-item-number {
  background-color: #9356dc;
  color: #FFFFFF;
  border-radius: 1000px;
  position: absolute;
  padding: 0.25rem 0.75rem;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.choice-item-group__choice-item-icon {
  color: black;
  width: 10px;
  margin: 2rem 3rem;
}

.choice-item-group__choice-item-text {
  text-overflow: ellipsis;
}

.card-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  row-gap: 2rem;
}

@media (min-width: 64rem) {
  .card-group {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card__image {
  display: block;
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__new {
  background-color: #99e2d0;
  margin: auto;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 21px;
  position: absolute;
  right: 23px;
  padding: 8px 25px;
  color: #018769;
}

.card__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1rem;
}

.card__information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-light-grey {
  background-color: #F8F8F8;
}

.bg-grey-shadow {
  background: -webkit-gradient(linear, left bottom, left top, from(#e8e8e8), color-stop(95%, #e8e8e8), to(#e2e1e1));
  background: linear-gradient(0deg, #e8e8e8 0%, #e8e8e8 95%, #e2e1e1 100%);
}

.checkbox-heart {
  position: relative;
  width: 24px;
  height: 24px;
}

.checkbox-heart__input {
  display: none;
}

.checkbox-heart__input:checked + .checkbox-heart__label .checkbox-heart__icon-on {
  display: inline-block;
  opacity: 1;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.checkbox-heart__input:checked + .checkbox-heart__label .checkbox-heart__icon-off {
  display: none;
}

.checkbox-heart .checkbox-heart__icon-on {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
}

.footer {
  color: #FFFFFF;
}

.footer__title {
  margin: 1rem 0rem;
  color: #FFFFFF;
  display: inline-block;
}

.footer__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__choice {
  line-height: 2.5rem;
}

.footer__choice--bold {
  font-weight: 500;
}

.footer__choice-icon {
  width: 10px;
  margin-right: 2rem;
}

.bg-black {
  background-color: #363636;
}

.menu-item__input {
  display: none;
}

.menu-item__card {
  cursor: pointer;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  overflow: hidden;
}

.menu-item__input:checked + label .menu-item__checked {
  width: 100px;
}

.menu-item__input:checked + label .menu-item__checked .fas {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu-item__body {
  width: 100%;
  padding: 1rem;
  overflow: hidden;
}

.menu-item__title {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item__text {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu-item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-item__checked {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: #99e2d0;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.menu-item__checked .fas {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.menu-item--fade {
  -webkit-animation-name: menu-item-fade;
          animation-name: menu-item-fade;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.menu-item--fade-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.menu-item--fade-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.menu-item--fade-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@-webkit-keyframes menu-item-fade {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
            transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes menu-item-fade {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 200px);
            transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.menu-category {
  width: 60px;
  border-bottom: 4px solid #99e2d0;
  padding-bottom: 20px;
}

.header-image-Thefullpalette {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  display: block;
  height: 300px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-image-Enchanted {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  display: block;
  height: 300px;
}

.header-image-bastille {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  display: block;
  height: 300px;
}

.header-image-Gourmand {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  display: block;
  height: 300px;
}

.loader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  -webkit-animation-name: loader-fade;
          animation-name: loader-fade;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  z-index: 1;
}

@-webkit-keyframes loader-fade {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    top: 0;
    bottom: 0;
  }
  100% {
    top: -10000px;
    bottom: auto;
  }
}

@keyframes loader-fade {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    top: 0;
    bottom: 0;
  }
  100% {
    top: -10000px;
    bottom: auto;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */