body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.h-small {
  font-weight: 100;
}

.h-medium {
  font-weight: 400;
}

.h-big {
  font-weight: 700;
}

.h-ftitle {
  font-family: "Shrikhand", sans-serif;
}

.italic {
  font-style: italic;
}

.h-ftext {
  font-family: "Roboto", sans-serif;
}

.margin-r {
  margin-right: 1.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

p-0 {
  padding: 0px;
}

.button {
  border: 0 none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
}

.button--Explore {
  font-size: 25px;
  border-radius: 100px;
  border: none;
  padding: 1.5rem 2.3rem;
  -webkit-box-shadow: 0px 0px 8px #888888;
          box-shadow: 0px 0px 8px #888888;
  cursor: pointer;
}

.button:hover {
  -webkit-box-shadow: 0px 3px 1px 3px #afacac;
          box-shadow: 0px 3px 1px 3px #afacac;
}

.button--grad {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #FFFFFF;
}

.button--grad:hover {
  background: -webkit-gradient(linear, right top, left bottom, from(#ff93e1), to(#a16be0));
  background: linear-gradient(to bottom left, #ff93e1, #a16be0);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5rem;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.header__logo {
  height: 2.5rem;
}

.header__back {
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 2rem;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 5rem;
  background-color: #E8E8E8;
}

.location__icon {
  margin-right: 1.5rem;
}

.reservation {
  background-color: #F8F8F8;
  height: 30rem;
}

.reservation__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  text-align: center;
  padding: 2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin: auto;
  padding: 0 2rem;
  max-width: 1200px;
}

.choice-item-group__choice-item {
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  margin: 2rem 0rem 2rem 1rem;
  height: 5rem;
  background-color: #F8F8F8;
}

.choice-item-group__choice-item--highlight-color {
  background-color: rgba(147, 86, 220, 0.1);
}

.choice-item-group__choice-item--highlight-color .choice-item-group__choice-item-icon {
  color: #9356dc;
}

.choice-item-group__choice-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
}

.choice-item-group__choice-item-number {
  background-color: #9356dc;
  color: #FFFFFF;
  border-radius: 1000px;
  position: absolute;
  padding: 0.25rem 0.75rem;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.choice-item-group__choice-item-icon {
  color: black;
  width: 10px;
  margin: 2rem 3rem;
}

.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0rem;
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card__image {
  display: block;
  height: 200px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__new {
  width: 8rem;
  background-color: #99e2d0;
  margin: auto;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50px;
  position: absolute;
  right: 10px;
}

.card__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 2rem;
}

.card__information {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-grey {
  background-color: #F8F8F8;
}

.checkbox-heart__icon {
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer {
  color: #FFFFFF;
}

.footer__title {
  margin: 1rem 0rem;
  color: #FFFFFF;
  display: inline-block;
}

.footer__logo {
  height: 2rem;
  padding-top: 1rem;
  padding-left: 33px;
  color: #FFFFFF;
}

.footer__nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__choice {
  line-height: 2.5rem;
}

.footer__choice--bold {
  font-weight: 500;
}

.footer__choice-icon {
  width: 10px;
  margin-right: 2rem;
}

.bg-black {
  background-color: #363636;
}

.menu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F8F8F8;
}

.menu__restaurant-image {
  max-height: 10rem;
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu__title-icon {
  display: inline;
  position: relative;
  margin: 0rem 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.menu__title-icon:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-clip: text;
  color: transparent;
}

.menu-item__input {
  display: none;
}

.menu-item__card {
  cursor: pointer;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
}

.menu-item__input:checked + label .menu-item__checked {
  width: 60px;
}

.menu-item__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 2rem;
}

.menu-item__title {
  display: block;
}

.menu-item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-item__checked {
  width: 0;
  overflow: hidden;
  background-color: #99e2d0;
  color: #FFFFFF;
  border-radius: 0px 20px 20px 0px;
  position: absolute;
}

.menu-category {
  -ms-flex-line-pack: absolute;
      align-content: absolute;
  width: 60px;
  border-bottom: 4px solid #99e2d0;
  padding-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */