$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary:#99e2d0;
$color-ligthgrey:#F8F8F8;
$color-darkgrey: #E8E8E8;
$color-white: #FFFFFF;
$font-text: 'Roboto',sans-serif;
$font-title:'Shrikhand',sans-serif;




