.checkbox-heart {
  .checkbox-heart__input {
    display: none;
    
    &:checked + .checkbox-heart__label {
      .checkbox-heart__icon-on {
        display: inline;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        background-clip: text;
        color: transparent;
      }
      .checkbox-heart__icon-off {
        display: none;
      }
    }
  }
  
  .checkbox-heart__icon-on {
    display: none;

  }
}

