.choice-item-group {
  &__choice-item {
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    margin: 2rem 0rem 2rem 1rem;
    height: 5rem;
    background-color: $color-lightgrey;
    &--highlight-color {
      background-color: rgba($color-primary, 0.1);
      .choice-item-group__choice-item-icon {
        color: $color-primary;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }
    &-number {
      background-color: $color-primary;
      color: $color-white;
      border-radius: 1000px;
      position: absolute;
      padding: 0.25rem 0.75rem;
      top: 50%;
      left: 0%;
      transform: translate(-50%, -50%);
    }
    &-icon {
      color: black;
      width: 10px;
      margin: 2rem 3rem;
    }
  }
}
