.header {
 @include flex-1;
  width: 100%;
  position: relative;

  &__logo {
    height: 2.5rem;
  }
  &__back {
    position: absolute;
    bottom:0;
    top: 0;
    left: 0;
    font-size: 2rem;
    display: flex;
    width: 53px;
    align-items: center;
    justify-content: center;
}
}
