.menu-item__input {
  display: none;
}

.menu-item__card {
  cursor: pointer;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 20px;
  display: flex;
  background-color: $color-white;
  overflow: hidden;
}

.menu-item__input:checked + label .menu-item__checked {
  width: 100px;
  &__fas{
    transform: rotate(0);
  }
}
.menu-item__body {
  flex-grow: 1;
  padding: 1rem;
}

.menu-item__title {
  display: block;
}

.menu-item__text {
  display: flex;
  justify-content: space-between;
}
.menu-item__checked {
  display: flex;
  width: 0;
  overflow: hidden;
  background-color: $color-tertiary;
  color: $color-white;
  align-items: center;
  position: relative;
  justify-content: center;
  transition: width 1s;
  &__fas{
    transform: rotate(360);
    transition: transform 1s;
  }
}
.menu-item--fade {
  animation-name: menu-item-fade;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

.menu-item--fade-1 {
  animation-delay: 0.1s;
}
.menu-item--fade-2 {
  animation-delay: 0.2s;
}
.menu-item--fade-3 {
  animation-delay: 0.3s;
}

@keyframes menu-item-fade {
  0% {
    opacity: 0;
    transform: translate(0, 200px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
