body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.h-small {
  font-weight: 100;
}
.h-medium {
  font-weight: 400;
}
.h-big {
  font-weight: 700;
}

.h-ftitle {
  font-family: $font-title;
}

.italic{
  font-style: italic;
}

.h-ftext {
  font-family: $font-text;
}

.margin-r {
  margin-right: 1.5rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  }
  p-0{
    padding: 0px;
  }

